<div style="text-align: center">
  <button (click)="getArray()">Cargar Array</button>
</div>

<div *ngIf="loading" style="text-align: center">
  <p>Cargando...</p>
</div>

<div *ngIf="!loading">
  <div *ngIf="!error && data.length">
    <table style="width: 100%">
      <thead>
        <tr>
          <th>N°</th>
          <th>number</th>
          <th>quantity</th>
          <th>first position</th>
          <th>last position</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of numbersList; let i = index" [ngStyle]="{'background-color': getQuantityColor(item)}">
          <th> {{ i + 1 }} </th>
          <th> {{ item }} </th>
          <th> {{ getQuantity(item) - 1 }} </th>
          <th> {{ getFirstPosition(item) }} </th>
          <th> {{ getLastPosition(item) }} </th>
        </tr>
      </tbody>
    </table>

    <div>
      Valores ordenados de menor a mayor <input type="text" name="" id="" readonly [value]="getSortedNumbers()">
    </div>
  </div>

  <div *ngIf="error" style="background-color: red">
    <p> {{ error }} </p>
  </div>
</div>
