<div style="text-align: center">
    <button (click)="getDict()">Cargar Dict</button>
  </div>
  
  <div *ngIf="loading" style="text-align: center">
    <p>Cargando...</p>
  </div>
  
  <div *ngIf="!loading">
    <div *ngIf="!error && data.length">
      <table style="width: 100%">
        <thead>
          <tr>
            <th>N°</th>
            <th *ngFor="let letter of dict"> {{ letter }} </th>
            <th>Suma numéricos contenidos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data; let i = index">
            <th> {{ i + 1 }} </th>
            <th *ngFor="let letter of dict"> {{ getLetterValue(letter, i) }} </th>
            <th> {{ getNumberTotal(item) }} </th>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="error" style="background-color: red">
      <p> {{ error }} </p>
    </div>
  </div>
  